<div class="container footer">
  {% assign data = site.data.data %}
  <hr>
  <div class="row">
    <div class="col-12 col-md-8 col-lg-9">
      <div class="col-12 social-media-list">
        <a href="mailto:{{ data.email }}">
          <i class="fa fa-envelope"></i> {{ data.email }}
        </a>
        <span class="lab-footer-divider">|</span>
        <span><i class="fa fa-map-marker"></i> {{ data.location }}</span>
      </div>
      <div class="col-12">
        Copyright &copy; {{ data.copyright_start }}-{{ site.time | date: '%Y' }} {{ data.copyright_name }}.
        Last updated on {{ site.time | date: '%B %d, %Y' }}.
      </div>
    </div>
    <div class="col-12 col-md-4 col-lg-3 footer-logo">
      <a class="lab-footer-brand" href="{{ "/index.html" | relative_url }}">
        <span class="lab-footer-brand__title">OU HFS Lab</span>
        <span class="lab-footer-brand__subtitle">Human Factors and Simulation Laboratory</span>
      </a>
    </div>
  </div>
</div>
